$dark-aqua: #488a99;
$gold: #dbae58;
$charcoal: #4B585C;
$gray: #b4b4b4;
$light-gray: #f1f0f1;
$sans: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
$serif: "Merriweather", Georgia, serif;

body {
    overflow-x: hidden;

    p {
        font-size: 18px;
        font-weight: 300;
        font-family: $serif;
        -webkit-font-smoothing: antialiased;


        &.small {
            font-size: 14px;
        }
    }

    a, a:hover, a:focus, a:active, a.active {
        outline: 0;
        color: $dark-aqua;
        font-weight: 700;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $sans;
        -webkit-font-smoothing: antialiased;
    }

    .img-centered {
        margin: 0 auto;
    }
}

@keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(360deg);}
    to{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

header {
    text-align: center;
    color: $charcoal;
    background: #fff;

    .container {
        padding: 100px 0 75px;
    }

    img {
        display: block;
        margin: 0 auto 20px;
    }

    .intro-text {

        .name {
            display: block;
            font-family: $sans;
            font-weight: 300;
            font-size: 5em;
            letter-spacing: -1px;
        }

        .skills {
            font-size: 1.25em;
            font-weight: 300;
        }

        i {
            font-size: 4em;
        }
    }
    
    .spin {
        margin: 0 auto;
        animation-name: spinnerRotate;
        animation-duration: 10s;
        -webkit-animation-name: spinnerRotate;
        -webkit-animation-duration: 10s;
        -moz-animation-name: spinnerRotate;
        -moz-animation-duration: 10s;
        -ms-animation-name: spinnerRotate;
        -ms-animation-duration: 10s;
    }
} 

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: $sans;
    font-weight: 700;
    background-color: transparent;
    color: $charcoal !important;
}

.navbar-nav a {
    color: $charcoal !important;
}

.navbar-nav li a:hover {
    color: #2f2f28 !important;
    border-bottom: 1px solid $charcoal;
}

.navbar-shrink {
    background-color: #fff;
    
    a {
    color: #2f2f28 !important;
    }
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-brand {
    color: $charcoal !important;
    text-transform: lowercase;
    font-weight: 300;

    &:hover, &:focus, &:active, &.active {
        outline: 0;
        font-weight: 300;
    }
}

section {
    padding: 100px 0;
    color: $charcoal;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.portfolio {
    background-color: #f1f0f1;
}

#portfolio .portfolio-item {
    right: 0;
    /*margin: 0 0 15px;*/
    margin: 0 !important;
    padding: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $charcoal;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 0.8;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;

    h3, h4 {
        margin: 0;
    }

    hr {
        width: 50%;
    }
}

.section-header {
    margin-bottom: 20px;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.about-me {
    background-color: #fff;

    a, a:hover, a:focus, a:active, a.active {
        color: $dark-aqua;
    }
}

.contact-me {
    background-color: $light-gray;
    font-family: $sans;

    a, a:hover, a:focus, a:active, a.active {
        color: $dark-aqua;
    }
}

.my-services {
    background-color: #fff;
    padding-top: 60px;

    .skills-row p {
        font-family: $sans;
        font-size: 1.5em;
        line-height: 1.25em;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px $dark-aqua;
    font-size: 20px;
    color: $dark-aqua;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: $charcoal;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    background-color: #fff;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;

    a, a:hover, a:focus, a:active, a.active {
        color: #fff;
        font-weight: 300;
    }
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: $dark-aqua;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $charcoal;
}

.portfolio-modal .modal-content h2 {
    margin: 0 0 10px 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

